google-cloud-bigquery==3.25.0
google-cloud-pipeline-components==2.15.0
google-cloud-aiplatform==1.59.0 
pandas==2.2.2
kfp==2.7.0
numpy>=1.22.4,<2.0.0 
matplotlib==3.8.0
langchain==0.0.316
torch==2.1.0
tensorflow==2.17.0
